/*====================
     GENERAL STYLING 
  ====================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  /* Color Variables */
  --primary-white: #fff;
  --primary-black: #1c1b1b;
  --primary-green: rgb(13, 128, 13);
  --primary-red: rgb(214, 8, 8);
  --primary-orange: rgb(214, 8, 8);
}
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2021_17/2482031/180629-stock-better-bathing-suit-swimmer-pool-ew-1207p.jpg")
      no-repeat center / cover;
}

/*====================
  ====================*/
.watch-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch-container > div {
  width: 100%;
  max-width: 630px;
  text-align: center;
  padding: 4rem 0;
  background-color: var(--primary-white);
  border-radius: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 3rem;
}
.watch-container > div #timer {
  font-size: 7rem;
  font-weight: 300;
}
.watch-container .btn {
  color: var(--primary-white);
  border: none;
  padding: 0.8rem 1.5rem 0;
  border-radius: 0.4rem;
  font-size: 3.6rem;

}
.watch-container .btn:hover {
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#play-btn {
  background-color: var(--primary-green);
}
#pause-btn {
  background-color: var(--primary-orange);
}
#reset-btn {
  background-color: var(--primary-red);
}

